:root {
  --token-aa303802-e5d1-4856-bfe5-30475052d91c: rgb(53, 54, 59);
  --token-63179b8e-7207-4483-969d-30dad423295a: rgb(235, 239, 245);
  --token-42b4fbef-08cc-4d25-ac51-777c039675b0: rgb(36, 36, 38);
  --token-6a468a94-f17b-47df-8134-c371f0077abe: rgba(36, 36, 38, 0.75);
  --token-92f79d8c-5684-4d83-98a0-358c9a114f12: rgba(36, 36, 38, 0.5);
  --token-ccbbe51b-ea16-4c07-831c-16f31cf5f239: rgb(255, 255, 255);
  --token-36935f7d-760a-4429-b323-0396f8a97bcd: rgb(77, 79, 87);
  --token-ff87850c-0097-46f6-ba62-c7ecc38e2ea8: rgb(255, 255, 255);
  --token-e97f2846-26b3-4819-b261-72d245d9e4a8: rgba(255, 255, 255, 0.75);
  --token-3ab14806-3b75-490f-ae8f-3e499c4989e2: rgba(255, 255, 255, 0.5);
  --token-7e11cd7b-1f8d-453a-8a18-e1b73ecfe9db: rgb(217, 213, 220);
  --token-e58702db-71be-4c4d-a244-dd4596489905: rgb(192, 173, 255);
  --token-95bdb8c1-3359-4b15-b03d-2c65d8a0479b: rgb(184, 222, 255);
  --token-6db6a2b6-0392-4d90-bf57-758c18db45c7: rgb(250, 233, 230);
  --token-d1ac9da9-58e1-4877-b3a5-7e8e0fd3542f: rgb(88, 113, 138);
  --token-dbe2c2e3-57cd-4cb1-9c18-3b13c4096349: rgb(217, 255, 92);
  --token-17299a9c-161b-4511-9892-d502c5e8cbba: rgba(36, 36, 38, 0.25);
  --token-83f5d793-4653-4f15-833c-f9a134658a89: rgb(224, 197, 182);
  --token-64565f9b-60ef-4ca9-8d38-1d485a359659: rgb(165, 178, 207);
  --token-ede42a44-f284-42e7-9990-6df6ce82f708: rgba(255, 255, 255, 0.8);
  --token-527adac9-b79f-4ccf-ae17-cef0a1e1a485: rgba(255, 255, 255, 0);
  --token-bd26f2b0-4e78-4586-a834-f474800588bd: rgba(36, 55, 105, 0.18);
}
.ts-heading-1{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:64px;line-height:1.25em;letter-spacing:-0.04em;color:rgb(36, 36, 38);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-1{font-size:64px;line-height:1.25em;letter-spacing:-0.04em;}}
@media (max-width:1024px){.ts-heading-1{font-size:52px;line-height:1.25em;letter-spacing:-0.04em;}}
@media (max-width:810px){.ts-heading-1{font-size:40px;line-height:1.25em;letter-spacing:-0.04em;}}
.ts-heading-1-jumbo{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:88px;line-height:1.25em;letter-spacing:-0.04em;color:rgb(36, 36, 38);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-1-jumbo{font-size:72px;line-height:1.25em;letter-spacing:-0.04em;}}
@media (max-width:1024px){.ts-heading-1-jumbo{font-size:72px;line-height:1.25em;letter-spacing:-0.04em;}}
@media (max-width:810px){.ts-heading-1-jumbo{font-size:48px;line-height:1.25em;letter-spacing:-0.04em;}}
.ts-heading-1-blog{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:40px;line-height:1.25em;letter-spacing:-0.04em;color:rgb(36, 36, 38);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-1-blog{font-size:64px;line-height:1.25em;letter-spacing:-0.04em;}}
@media (max-width:1024px){.ts-heading-1-blog{font-size:48px;line-height:1.25em;letter-spacing:-0.04em;}}
@media (max-width:810px){.ts-heading-1-blog{font-size:36px;line-height:1.25em;letter-spacing:-0.04em;}}
.ts-heading-2{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:56px;line-height:1.2em;letter-spacing:-0.04em;color:rgb(0, 0, 0);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-2{font-size:48px;line-height:1.2em;letter-spacing:-0.04em;}}
@media (max-width:1024px){.ts-heading-2{font-size:48px;line-height:1.2em;letter-spacing:-0.04em;}}
@media (max-width:810px){.ts-heading-2{font-size:36px;line-height:1.2em;letter-spacing:-0.04em;}}
.ts-heading-2-blog{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:32px;line-height:1.4em;letter-spacing:-0.04em;color:rgb(0, 0, 0);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-2-blog{font-size:36px;line-height:1.4em;letter-spacing:-0.04em;}}
@media (max-width:1024px){.ts-heading-2-blog{font-size:36px;line-height:1.4em;letter-spacing:-0.04em;}}
@media (max-width:810px){.ts-heading-2-blog{font-size:28px;line-height:1.4em;letter-spacing:-0.04em;}}
.ts-heading-3{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:36px;line-height:1.25em;letter-spacing:-0.03em;color:rgb(36, 36, 38);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-3{font-size:32px;line-height:1.25em;letter-spacing:-0.03em;}}
@media (max-width:1024px){.ts-heading-3{font-size:32px;line-height:1.25em;letter-spacing:-0.03em;}}
@media (max-width:810px){.ts-heading-3{font-size:28px;line-height:1.25em;letter-spacing:-0.03em;}}
.ts-heading-3-blog{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:24px;line-height:1.25em;letter-spacing:-0.03em;color:rgb(0, 0, 0);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-3-blog{font-size:36px;line-height:1.25em;letter-spacing:-0.03em;}}
@media (max-width:1024px){.ts-heading-3-blog{font-size:28px;line-height:1.25em;letter-spacing:-0.03em;}}
@media (max-width:810px){.ts-heading-3-blog{font-size:24px;line-height:1.25em;letter-spacing:-0.03em;}}
.ts-heading-4{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:32px;line-height:1.45em;letter-spacing:-0.03em;color:rgb(36, 36, 38);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-4{font-size:28px;line-height:1.45em;letter-spacing:-0.03em;}}
@media (max-width:1024px){.ts-heading-4{font-size:28px;line-height:1.45em;letter-spacing:-0.03em;}}
@media (max-width:810px){.ts-heading-4{font-size:24px;line-height:1.45em;letter-spacing:-0.03em;}}
.ts-heading-4-blog{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:20px;line-height:1.65em;letter-spacing:-0.02em;color:rgb(36, 36, 38);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-4-blog{font-size:28px;line-height:1.65em;letter-spacing:-0.02em;}}
@media (max-width:1024px){.ts-heading-4-blog{font-size:24px;line-height:1.65em;letter-spacing:-0.02em;}}
@media (max-width:810px){.ts-heading-4-blog{font-size:20px;line-height:1.65em;letter-spacing:-0.02em;}}
.ts-heading-5{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:24px;line-height:1.5em;letter-spacing:-0.02em;color:rgba(36, 36, 38, 0.75);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-5{font-size:19px;line-height:1.5em;letter-spacing:-0.02em;}}
@media (max-width:1024px){.ts-heading-5{font-size:20px;line-height:1.5em;letter-spacing:-0.02em;}}
@media (max-width:810px){.ts-heading-5{font-size:20px;line-height:1.5em;letter-spacing:-0.02em;}}
.ts-heading-6{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:20px;line-height:1.4em;letter-spacing:-0.02em;color:rgb(53, 54, 59);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-heading-6{font-size:18px;line-height:1.4em;letter-spacing:-0.02em;}}
@media (max-width:1024px){.ts-heading-6{font-size:18px;line-height:1.4em;letter-spacing:-0.02em;}}
@media (max-width:810px){.ts-heading-6{font-size:16px;line-height:1.4em;letter-spacing:-0.02em;}}
.ts-body{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:18px;line-height:1.5em;letter-spacing:0px;color:rgba(36, 36, 38, 0.75);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-body{font-size:18px;line-height:1.5em;letter-spacing:0px;}}
@media (max-width:1024px){.ts-body{font-size:18px;line-height:1.5em;letter-spacing:0px;}}
@media (max-width:810px){.ts-body{font-size:16px;line-height:1.5em;letter-spacing:0px;}}
.ts-handwrite{font-family:var(--font-hand);font-variation-settings:normal;font-weight:400;font-size:48px;line-height:1em;letter-spacing:-0.03em;color:rgba(36, 36, 38, 0.5);text-transform:none;margin:0;}
.ts-button-l{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:18px;line-height:1.5em;letter-spacing:0px;color:rgba(36, 36, 38, 0.75);text-transform:none;margin:0;}
@media (max-width:1440px){.ts-button-l{font-size:18px;line-height:1.5em;letter-spacing:0px;}}
@media (max-width:1024px){.ts-button-l{font-size:16px;line-height:1.5em;letter-spacing:0px;}}
@media (max-width:810px){.ts-button-l{font-size:14px;line-height:1.5em;letter-spacing:0px;}}
.ts-small{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:14px;line-height:1.5em;letter-spacing:0px;color:rgba(36, 36, 38, 0.75);text-transform:none;margin:0;}
.ts-extra-small{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:12px;line-height:1.5em;letter-spacing:0px;color:rgb(0, 0, 0);text-transform:none;margin:0;}
.ts-button-s{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:14px;line-height:1.5em;letter-spacing:-0.01em;color:rgb(0, 0, 0);text-transform:none;margin:0;}
.ts-small-bullet-list{font-family:var(--font-inter);font-variation-settings:"opsz" 32;font-weight:400;font-size:16px;line-height:2.5em;letter-spacing:0px;color:rgba(36, 36, 38, 0.75);text-transform:none;margin:0;}

.fr-wordmark { font-weight: 600; font-size: 19px; letter-spacing: -0.02em; line-height: 1; color: inherit; white-space: nowrap; }
